
<h1>Users Profile</h1>
<table>
	<tr>
		<th>First Name</th>
		<td><%= @user.first_name %></td>
	</tr>
	<tr>
		<th>Last Name</th>
		<td><%= @user.last_name %></td>
	</tr>
	<tr>
		<th>Email</th>
		<td><%= @user.email %></td>
	</tr>
	<tr>
		<th>Age</th>
		<td><%= @user.age %></td>
	</tr>
	<tr>
		<th>City</th>
		<td><%= @user.city %></td>
	</tr>
</table>
<br>
